.cart {
    margin-top: 20px;
}

.cart .message {
    background-color: green;
}

.cart .message div * {
    text-transform: capitalize;
    font-size: 1.4rem;
}

.cart .message div i {
    margin-left: 10px;
}

.added-product {
    width: 90%;
    height: 200px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 10px 0px 10px 10px;
}

.added-product .image-wrapper {
    width: 200px;
    justify-content: center;
}

.added-product-title {
    font-size: 2rem;
}

.added-product-summary {
    margin: 5px 10px 0px;
    width: calc(100% - 40px);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 1.5rem;
}

.added-product .price-previewer {
    display: flex;
    align-items: center;
}

.offer-displayer {
    background-color: red;
    text-transform: uppercase;
    margin-left: 20px;
    border-radius: 20px 0px 0px 20px;
}

.right-container  {
    margin-right: 20px;
}

.right-container .remove-from-cart {
    border: 1px red solid;
    margin: 10px 0px;
}

.right-container .buy-now {
    border: 1px #A4C3B2 solid;
}

.right-container .buy-now, .right-container .remove-from-cart {
    padding: 10px ;
    border-radius: 20px;
    flex-wrap: nowrap;
    text-transform: capitalize;
}

.right-container .buy-now i, .right-container .remove-from-cart i {
    margin-left: 10px;
}

.right-container .remove-from-cart:hover {
    background-color: red;
}

.right-container .buy-now:hover {
    background-color: green;
}

.right-container .buy-now:hover, .right-container .remove-from-cart:hover {
    color: white;
}

.quantity-nav {
    width: 50%;
    cursor: default;
}

.quantity-nav div.flex {
    background-color: #CCE3DE;
    justify-content: center;
}

.quantity-nav div.flex:hover ~ .quantity-dropdown {
    display: block;
}

.quantity-nav div.flex:hover {
    background-color: #A4C3B2;
}

.quantity-nav div.flex p {
    font-size: 1.2rem;
    text-transform: capitalize;
}

.quantity-nav div.flex i {
    margin-left: 10px;
}

.quantity-dropdown {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 200px;
    background-color: #6B9080;
    z-index: 10;
    display: none;
}

.quantity-dropdown button:hover {
    background-color: #EAF4F4;
}

.quantity-dropdown:hover {
    display: block;
}

/* ============================== */

.cart-products-details {
    background-color: #A4C3B2;
    padding: 10px 0px;
    display: flex;
    align-items: center;
}
    
.cart-products-details > * {
    font-size: 1.3rem;
    text-transform: capitalize;
}

.cart-products-details .free-shipping,
.cart-products-details .paid-shipping {
    margin-left: 30px;
}

.uppercase {
    text-transform: uppercase;
    font-size: inherit;
}

.sent-after-shipping {
    text-decoration: underline;
    margin-left: 10px;
    padding: 10px;
}

.sent-after-shipping:hover ~ div.sent, div.sent .arrow {
    display: block;
}

.free-shipping span div, .paid-shipping span div {
    background-color: #EAF4F4;
    display: none;
}

div.sent {
    padding: 0px 10px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
    font-weight: 500;
    margin-top: 5px;
}

div.sent:hover {
    display: block;
}

.free-shipping span .arrow, .paid-shipping span .arrow {
    width: 10px;
    height: 10px;
    left: 45%;
    bottom: 14.5px;
    transform: rotate(45deg);
}

button.submit-order-btn {
    padding: 5px 20px;
    border-radius: 20px;
    background-color: #EAF4F4;
    right: 30px;
}

button.submit-order-btn:hover {
    background-color: #6B9080;
    color: #EAF4F4;
}

.added-product .small-btns-container button i {
    font-size: 1.2rem;
} 

.added-product .small-btns-container .remove-from-cart-small {
    color: red;
}

.added-product .small-btns-container .buy-now-small {
    color: green;
    margin-left: 10px;
}

.added-product-details {
    margin-left: 20px;
    flex: 1;
}

.cart .cart-down-title {
    font-size: 2rem;
    text-transform: capitalize;
    margin: 10px;
}

@media (min-width: 1000px) {
    .small-btns-container {
        display: none;
    }
}

@media (max-width: 930px) {
    .cart-products-details {
        display: block;
        position: relative;
    }

    .cart-products-details p {
        margin-left: 30px;
    }

    .cart-products-details .sent-after-shipping {
        display: none;
    }

    .cart-products-details button {
        top: 50%;
        transform: translateY(-50%);
    }
}

.cart .no-products, .cart .no-products a {
    justify-content: center;
    padding: 10px 0px;
    font-size: 1.3rem;
    text-transform: capitalize;
}

.cart .no-products a {
    color: purple;
    margin-left: 6px;
}

.cart .no-products a:hover {
    text-decoration: underline;
}

@media (max-width: 1000px) {
    .added-product-details {
        width: 80%;
    }

    .added-product-summary,
    .remove-from-cart,
    .buy-now,
    .offer-displayer {
        display: none;
    }

    .small-btns-container {
        display: flex;
    }
}

@media (max-width: 640px) {
    .added-product-rate-container * {
        flex-wrap: nowrap;
        text-wrap: nowrap;
    }
}

@media (max-width: 600px) {
    .added-product {
        height: 150px;
    }

    .added-product .image-wrapper {
        width: 150px;
    }

    .added-product-title {
        font-size: 1.3rem;
    }

    .added-product-price {
        font-size: 1rem;
    }

    .added-product .price-previewer {
        display: block;
    }

    .added-product .price-previewer .added-product-price-offer {
        margin-left: 0px !important;
    }
}

@media (max-width: 470px) {
    .cart .message div * {
        font-size: 1rem;
    }

    .cart-products-details button {
        position: initial;
        transform: none;
        margin: 10px 0px 0px 20px;
        font-size: 1.3rem;
    }

    .added-product {
        height: 120px;
    }

    .added-product-title {
        width: 150px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .added-product .image-wrapper {
        width: 100px;
    }

    .added-product .added-product-price-offer,
    .added-product .added-product-product-price {
        font-size: 1rem !important;
    }
}

@media (max-width: 390px) {
    .added-product {
        width: 96%;
    }
}