.categories-container {
    width: 90%;
    margin: auto;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.categories-container a {
    width: 40%;
    height: 200px;
    border-radius: 15px;
    overflow: hidden;
    margin: 20px 0px;
    transition: 0.4s;
}

.categories-container a:hover {
    transform: scale(1.1);
}

.categories-container a img {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.categories-container a:hover img {
    opacity: 0.7;
}

.categories-container a:hover p {
    opacity: 1;
}

.categories-container a p {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    text-transform: capitalize;
    opacity: 0;
}

@media (max-width: 779px) {
    .categories-container a {
        width: 100%;
        position: relative;
    }
}