.categories-container {
    width: 90%;
    margin: auto;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.categories-container a {
    width: 30%;
    height: 200px;
    border-radius: 15px;
    overflow: hidden;
    margin: 20px 0px;
    transition: 0.4s;
}

.categories-container a:hover {
    transform: scale(1.1);
}

.categories-container a:hover img {
    opacity: 0.7;
}

.categories-container a p {
    opacity: 1;
}

.categories-container a p {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    opacity: 0;
    text-transform: capitalize;
}

@media (max-width: 1340px) and (min-width: 780px) {
    .categories-container a {
        position: relative;
    }

    .categories-container a img {
        width: auto;
        height: 140%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media (max-width: 779px) {
    .categories-container a {
        width: 100%;
        position: relative;
    }
}

@media (max-width: 380px) {
    .categories-container a img {
        width: 200%;
        /* height: 140%; */
    }
}