.message {
    justify-content: center;
    height: 50px;
    z-index: 11;
    top: -50px;
    transition: 1s;
    position: fixed;
}

.message button.close-message {
    right: 20px;
    padding: 10px;
    border-radius: 50%;
}

.message button.close-message:hover {
    color: rgb(30, 30, 30);
}

.message button.close-message i {
    font-size: 2rem;
}

.message-activated {
    top: 0;
}