#product-page .message {
    background-color: green;
}

#product-page .message div * {
    font-size: 1.3rem;
    text-transform: capitalize;
}

#product-page .message div i {
    margin-left: 20px;
}

.most-rated-product-container {
    height: 100px;
    margin: 10px 0px;
}

.product-page .recommended-product {
    width: 70%;
    justify-content: space-evenly;
}

.product-page .recommended-product .mrpsummary {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.product-container {
    margin-top: 10px;
    display: flex;
}

.product-container .images-slider-container {
    height: calc(100% - 60px - 100px);
    border-right: 1px rgb(30, 30, 30) solid;
}

.product-container .images-slider {
    width: 500px;
    height: 375px;
}

.product-container .images-slider .swiper a {
    justify-content: center;
}

.product-container .images-slider .swiper-nav-btns {
    align-items: center;
}

.product-container .images-slider .swiper-nav-btns button i {
    font-size: 1.5rem;
}

.product-container .images-slider .swiper .slider-prev-btn {
    margin-right: 50px;
}

.product-container .images-slider .swiper .slider-next-btn {
    margin-left: 50px;
}

.details-container {
    flex: 1;
}

.details-container .product-title {
    font-size: 2rem;
    margin-left: 10px;
}

.details-container .product-summary {
    font-size: 1.4rem;
    margin-left: 20px;
}

.details-container .sentence {
    display: block;
    text-transform: capitalize;
    margin-left: 10px;
}

.details-container .quantity-sent {
    margin-left: 10px;
}

.details-container .sentence:hover {
    text-decoration: underline;
    color: purple;
}

.details-container .product-price,
.details-container .product-price-offer {
    margin-left: 20px;
}

.details-container .offer-sentence {
    background-color: red;
    margin-left: 20px;
    color: white;
    padding: 5px 10px;
    border-radius: 0px 15px 15px 0px;
}

.details-container .rate-wrapper {
    margin-left: 5px;
}

.details-container .rate-wrapper p {
    margin-left: 20px;
}

.rate-cont * {
    cursor: pointer;
}

.details-container a.see-comments {
    text-transform: capitalize;
    margin: 5px 0px 0px 5px;
}

.details-container a.see-comments:hover {
    text-decoration: underline;
    color: purple;
}

.details-container .btns-container {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.details-container .btns-container .add-to-cart-btn {
    background-color: #A4C3B2;
    border-radius: 20px;
    padding: 10px 40px;
}

.details-container .btns-container .add-to-cart-btn i {
    font-size: 1.2rem;
}

.details-container .btns-container button {
    text-wrap: nowrap;
}

.details-container .btns-container .add-to-cart-btn i,
.details-container .btns-container .add-to-fav-btn i {
    margin-left: 10px;
}

.details-container .btns-container .add-to-cart-btn:hover {
    background-color: #6B9080;
}

.details-container .btns-container .add-to-fav-btn {
    border-radius: 20px;
    padding: 10px 40px;
    border: 1px black solid;
    margin-left: 10px;
    transition: .5s;
}

.details-container .btns-container .add-to-fav-btn:hover {
    background-color: red;
    color: white;
}

/* ========== */

.about-trademark {
    justify-content: space-evenly;
    margin: 10px 0px;
}

.about-trademark a {
    height: 150px;
}

/* ========== */

.comments {
    width: 50%;
}

.comments .your-comment p {
    font-size: 1.5rem;
    text-transform: capitalize;
    margin: 10px 0px;
}

.comments .your-comment input {
    border: 2px gray solid;
    outline: none;
    width: 80%;
    height: 30px;
    padding-left: 10px;
    border-radius: 10px;
    display: block;
    margin-bottom: 10px;
}

.comments .your-comment input:focus {
    border-color: black;
}

.comments .your-comment button {
    padding: 5px 20px;
    border: 2px gray solid;
    border-radius: 15px;
    text-transform: capitalize;
}

.comments .your-comment button i {
    margin-left: 10px;
}

.comments .your-comment button:hover {
    border-color: green;
}

.comments .comment,
.comments .your-comment,
.your-comments-previewer {
    border: 1px black solid;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 10px;
}

.comments .comment,
.comments .your-comment {
    width: calc(100% - 22px);
}

.comments .your-comments-previewer {
    border: 3px #6B9080 solid;
    width: calc(100% - 26px);
}

.comments .comment .up-sec div,
.comments .your-comments-previewer .up-sec div div {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.comments .comment .up-sec p,
.comments .your-comments-previewer .up-sec div p {
    margin-left: 10px;
}

.comments .your-comments-previewer button {
    padding: 5px 10px;
    border: 2px gray solid;
    margin-left: 20px;
    border-radius: 5px;
    text-transform: capitalize;
}

.comments .your-comments-previewer button:hover {
    border-color: red;
}

.comments .comment .main-sec,
.comments .your-comments-previewer .main-sec {
    margin: 10px 0px 0px 20px;
}

.comments .your-comments-previewer .up-sec button.small-remove-btn {
    display: none;
}

.comments .your-comments-previewer .up-sec button.big-remove-btn {
    display: block;
}

@media (max-width: 1055px) {
    .details-container .btns-container {
        display: block;
    }

    .details-container .btns-container button {
        width: 300px;
        justify-content: center;
    }

    .details-container .btns-container .add-to-fav-btn {
        margin: 10px 0px 0px;
    }
}

@media (max-width: 900px) {
    .product-page .most-rated-product-container,
    .product-page .line {
        display: none;
    }
    
    .product-container {
        display: flex;
        flex-direction: column;
    }

    .product-container .images-slider-container .images-slider,
    .product-container .details-container {
        width: 100%;
    }

    .product-container .images-slider-container {
        border: none;
        justify-content: center;
    }

    .about-trademark {
        flex-flow: column;
        justify-content: center;
    }

    .comments {
        width: 70%;
    }
}

@media (max-width: 500px) {
    #product-page .message div * {
        font-size: 1.1rem;
    }

    #product-page .message div i {
        margin-left: 10px;
    }

    .comments {
        width: 95%;
    }

    .comments .your-comments-previewer .up-sec button.big-remove-btn {
        display: none;
    }

    .comments .your-comments-previewer .up-sec button.small-remove-btn {
        display: block;
    }
}