.trademarks-parent-container {
    margin-top: 20px;
}

.trademarks-parent-container > p {
    font-size: 2rem;
    margin-left: 10px;
    text-transform: capitalize;
}

.trademarks-child-container {
    width: 80%;
}

.trademarks-child-container a {
    display: inline-block;
    background-color: #6B9080;
    padding: 10px 20px;
    font-size: 1.2rem;
    margin: 5px;
    border-radius: 15px;
    text-transform: capitalize;
    text-wrap: nowrap;
}

.trademarks-child-container a:hover {
    outline: 2px black dashed;
}

@media (max-width: 500px) {
    .trademarks-child-container .trademarks-wrapper {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .trademarks-child-container {
        width: 90%;
    }

    .trademarks-child-container a {
        width: 45%;
        font-size: 1.1rem;
        text-align: center;
        padding: 10px 0px;
    }
}